html, body {
  height: 100%;
  margin: 0;
  padding:0;
}
.app-container{
  background-color:rgb(255, 239, 219);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-body{
  display: flex;
  flex-direction: column;
}
.li-icon{ 
  border-radius: 15%;
  width: 28px;
  height: 28px;
}
.git-icon{ 
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 375px){
  .app-body{
    height:4000px;
  }
}

@media screen and (min-width: 768px){
  .app-body{
    height:3600px;
  }
}

@media screen and (min-width: 1024px){
  .app-body{
    height:3800px;
  }
}